* {
  text-align: center;
}
body {
    background: rgb(232, 103, 103);
    color: #f8f8f8;
  }

  canvas {
    background: #f8f8f8;
    padding: 0;
    margin: 1.5rem auto;
    margin-bottom: 1rem;
    display: block;
  }

  #btn_div {
    margin: 1rem auto;
  }