@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Muli', sans-serif;
   
    background-color: gray;
}

.container {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outer_circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* background-color:gradient rgb(255, 255, 255); */
    background-image: linear-gradient(to top, #008b8b, #ffff00);
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}

.time {
    color:aquamarine;
    font-size: 40px;
}
.inner_circle {
    width: 265px;
    height: 265px;
    border-radius: 50%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_wrapper {
    width:300px;
    display: flex;
    justify-content: space-between;
}

.btn {
    font-size: 30px;
    color: darkcyan;
    padding:5px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn:disabled {
    cursor: default;
}

.timeStampTitle {
    color: rgb(1, 42, 42);
    margin: 5px; 
}

li {
    color: rgb(1, 42, 42);
    list-style-type: circle;
}


